CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
CPM_modules
build
assimp_build
cpm-package-lock.cmake
libs
BlockmanLORD
GameServer
BlockmanEditor