---
import background from '../components/background.astro';
import Layout from '../components/layout.astro';
---
<Layout title="BlockmanLORD">
  <h1>BlockmanLORD, a big project and a big remake</h1>

<h2>Copyright © 2025 <a href="https://guthub.com/SpargatTeam">SpargatTeam</a>. All rights reserved of the project <a href="https://github.com/SpargatTeam/BlockmanLORD">BlockmanLORD</a></h2>

<p align="center">
  <a href="https://blockmanlauncher.vercel.app">
    <img src="https://raw.githubusercontent.com/SpargatTeam/BlockmanLORD/main/res/mipmap-xxxhdpi/app_launcher.png" alt="Blockman"/>
  </a>
</p>

<h2>Help us</h3>

<ul>
  <li>Make pull requets to add fixes or new functions</li>
  <li>Report bugs</li>
  <li>Make suggestions</li>
  <li>Donate money(if wanted)</li>
</ul>

## Contribuitors

[![Donate](https://img.shields.io/badge/Support-Patreon-orange.svg)](https://patreon.com/Spargat)

[![Forkers repo roster for @SpargatTeam/BlockmanLORD](https://reporoster.com/forks/SpargatTeam/BlockmanLORD)](https://github.com/SpargatTeam/BlockmanLORD/network/members)

[![Stargazers repo roster for @SpargatTeam/BlockmanLORD](https://reporoster.com/stars/SpargatTeam/BlockmanLORD)](https://github.com/SpargatTeam/BlockmanLORD/stargazers)

## Open source and how it helps:

- It helps us having support from other developers
- It helps other learn and get ideas for making they own one
- It helps others to make own version of BlockmanLORD

## Compile:

### Download Boost source code and add it on libs and rename the folder on boost

### Download GLFW source and add it on libs

### Download ZLIB source and add it on libs

### Build CMake

```bash
cmake .
```
### Build BlockmanLORD

```bash
make -k
```

</Layout>