---
import Layout from "../components/layout.astro";
---

<Layout title="BlockmanLORD | Home">
    <h1>BlockmanLORD</h1>
    <p>BlockmanLORD: The next generation of Blockman GO. Faster, Safer and Way more advanced!</p>
</Layout>