---
import { h } from "astro:jsx";
---

<header class="header">
  <a href="https://spargatteam.github.io/BlockmanLORD/" class="header-title">
    BlockmanLORD
  </a>
</header>

<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1000;
  }

  .header-title {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease-in-out;
  }

  .header-title:hover {
    opacity: 0.7;
  }
</style>