---
interface Props {
  title: string;
}
const { title } = Astro.props;
import cursor from "../assets/cursor.svg";
import cursor_type from "../assets/cursor-type.svg";
import cursor_hand from "../assets/cursor-hand.svg";
import Background from "../components/background.astro"
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="BlockmanLORD: The next generation of Blockman GO. Faster, Safer and Way more advanced!" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/SpargatTeam/BlockmanLORD/main/res/mipmap-xxxhdpi/app_launcher.png"
    />
    <meta name="generator" content={Astro.generator ?? "Astro"} />
    <title>{title || "BlockmanLORD"}</title>
  </head>
  <body>
    <Background 
    primaryBallColor="#ff5733" 
    secondaryBallColor="#33ff57" 
    gridColor="rgba(255,255,255,0.1)" 
    diagonalColor="rgba(255,255,255,0.15)" 
    vignetteColor="rgba(0,0,0,0.5)" 
    />
    <Header/>
    <slot />
    <Footer/>
  </body>
</html>
<style is:global>
  :root {
    --accent: #6c14bee0;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  ::-moz-selection {
    background: var(--accent);
    color: white;
  }
  ::selection {
    background: var(--accent);
    color: white;
  }
  html {
    color: white;
    font-family: system-ui, sans-serif;
    cursor: url("{cursor.src}"), auto;
  }
  input[type="text"],
  textarea {
    cursor: url("{cursor_type.src}"), auto;
  }
  button,
  img,
  a,
  span,
  li,
  ul {
    cursor: url("{cursor_hand.src}"), auto;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
